on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on init
    setprop sys.usb.configfs 1

    start init-recovery-qcom-sh

on boot
    write /sys/devices/virtual/sec/tsp/after_work 1

service init-recovery-qcom-sh /init.recovery.qcom.sh
    disabled
